doctype html
html(lang='en')
  head
    title Jumbotron Template for Bootstrap
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') PC Repairs
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
    block content
    hr
    .container
      footer
        p © 2016 Company, Inc.
