<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Rooms</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

	<script>
		'use strict';
		$(() => {
			let socket = io('<%= host %>' + '/roomslist');

			let renderChatRooms = (chatrooms) => {
				let roomsListDiv = $('#roomsListUL');
				let listStr = '';

				for (let cat of chatrooms) {
					listStr += `<a href="/chat/${cat.roomID}"><li>${cat.room}</li></a>`
				}

				roomsListDiv.html('').append(listStr);
			}

			/*
			** Get a list of chatrooms
			*/		
			socket.emit('getChatrooms');

			/*
			** Event listener for chatRoomsList
			*/
			socket.on('chatRoomsList', (chatrooms) => {
				renderChatRooms(JSON.parse(chatrooms));
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatNODE | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
				
				<a href="chatroom.htm"><li>Coffee and Conversations</li></a>
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>